
body{
	font-family: Arial,sans-serif;
	-webkit-text-size-adjust: none;
}
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay:-1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 7s opacity;
  opacity: 1;
}

.loaded .preloader {
  display: none;
}

nav{
	width: 100%;
	height: 60px;
	background: #008B8B;
	position: fixed;
	z-index: 10;

}
nav img{
	width: 57px;
	margin: 0px 10px 10px 0px;
}
/*#008B8B-бирюзовый
#FFCF40-желтый*/
.logo{
	
	color: yellow;
	font-size: calc(25px + 15 * ((100vw - 320px)/(1280-320)));
	line-height: 60px;
	
}
main{
	width: 100%;
	height: 100%;
}
.menu{
	float: left;
	

}
.menu li{
	float: left;
	line-height: 60px;
	color: #FFCF40;
	margin-right: 70px;
	font-size: calc(12px + 2 * ((100vw - 320px)/(1280-320)));
	text-transform: uppercase;
	-webkit-animation: topshift 0.4s ease forwards;
	-o-animation: topshift 0.4s ease forwards;
	animation: topshift	0.4s ease forwards;
	opacity: 1;
}
.white-btn:visited{
	color: #008B8B;
}

.main{
	
	height: 1200px;
	background:url(../img/fon3.jpg) center/cover no-repeat ;
	perspective: 1;
	background-attachment: fixed;
}
.title__container{
	width: 100%;
	color: #008B8B;
	text-align: center;
	opacity: 0;
	-webkit-animation: titlemove 1.2s ease forwards;
	-o-animation: titlemove 1.2s ease forwards;
	animation: titlemove 1.2s ease forwards;
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;



}
.info-btn{
	background-color: #008B8B;
}
.btn{
	color: yellow;
}
.modal-body{
	color: yellow;
	background-color:#008B8B; 
}
.modal-body h5{
	text-align: center;
	line-height: 50px;
}


.modal-title{
	color: yellow;
}

.modal-dialog{
	background-color: yellow;
}
.warning-btn {
	background-color: yellow;
	color: #008B8B;
	margin: 50px 0px 0px 200px;
}

.modal-body{
	background-color: #008B8B;
}

@keyframes titlemove{
	from{
		opacity: 0;
		margin-left: -700px;
	}
	to{
		opacity: 1;
		margin-left: 0px;
	}
}
main a{
	color: yellow;

}
.modal-body a{
	text-align: center;
}
.title__container h1{
	font-family: Arial, sans-serif;
	font-weight: 600;
	font-size: calc(28px + 20 * ((100vw - 375px)/(1280-375)));
}

.title__container h4{
	font-size: calc(19px + 15 * ((100vw - 375px)/(1280-375)));
	font-weight: 600;
	color: #008B8B;


}
@media  (max-width: 767px){

	h1{
		font-size: calc(25px + )
	}
}


.Visov a{
	padding-left: 100px;
}
.btn-color{
	color: #008B8B;
}

.menu li a{
	transition: all 0.2s;
	color: white;
	transform: scale(1);
	display: inline-block;
	text-decoration: none;
}
.menu li a:visited{
	color: yellow;
}
.menu li a:hover{
	color: white;

}
.menu li a:active{
	transform: scale(1.2);
}
.Two{
	background:	url(../img/Fon5.jpg) center/cover no-repeat ;
	width: 100%
	max-height: 100%;
	transform: translateY(15px);
	
}

.Two img{
	max-width: 100%;
	max-height: 100%;
	
	
}


.Two h3{
	color: yellow;
	font-size: calc(30px + 15 * ((100vw - 375px)/(1280-375)));
	line-height: 100px;
	text-align: center;
	

	
}

.Two h4{
	color: yellow;
	font-size: calc(20px + 4 * ((100vw - 375px)/(1280-375)));
	transform: scale(1);
	text-decoration: none;
	
	


}

.Two h4:hover{
	color: #fff;
	

}

.Two p{
	font-size: calc(10px + 2 * ((100vw - 375px)/(1280-375)));
	color: yellow	;	
	line-height: 30px;
	text-align: center;
	

}
.Two p:hover{
	color: #fff;
	transform: scale(1.3,1.3);
}

	
  .web_scill{
  	line-height: 220px;
  	font-size: 12px;
  	text-transform: uppercase;

  }
  .web_scill2{
  	line-height: 220px;

  	font-size: 12px;
  	text-transform: uppercase;
  }
  .web_scill3{

  	line-height: 220px;
  	font-size: 12px;
  	text-transform: uppercase;
  }
 

  .web_scill4 {

  	line-height: 270px;
  	font-size: 12px;
  	text-transform: uppercase;

  }

  .web_scill5{

  	line-height: 270px;
  	font-size: 12px;
  	text-transform: uppercase;
  }
  .web_scill6{

  	line-height: 270px;
  	font-size: 12px;
  	text-transform: uppercase;
  }


	.Three{
		background: url(../img/Fon4.jpg) center/cover no-repeat ;
		height: 800px;
		background-attachment: fixed;


	}
	.Three h3{
		color: #20B2AA;
		font-size: calc(30px + 15 * ((100vw - 375px)/(1280-375)));
		line-height: 100px;
		text-align: center;	



	}
	footer{
		background:url(../img/Fon7.jpg) center/cover no-repeat;
		height: 1300px;



	}

	footer h3{
		color: yellow;
		font-size: calc(30px + 15 * ((100vw - 375px)/(1280-375)));
		line-height: 55px;
		text-align: center;
	}
	footer h4{
		color: yellow;
		font-size: calc(16px + 4 * ((100vw - 375px)/(1280-375)));

	}

	.web_scil{
		font-size: 32px;
		text-transform: uppercase;

	
	}
	.custom-map{
		font-size: 35px;
		width: 40px;
		color: yellow;
		
	}
	.web_scil2{

		color: yellow;
		font-size: calc(13px + 4 * ((100vw - 375px)/(1280-375)));
		text-transform: uppercase;
	}
	.custom-map2{
		font-size: 30px;
		width: 65px;
	}

	.web_scil3{
		color: yellow;
		font-size: calc(13px + 4 * ((100vw - 375px)/(1280-375)));
		text-transform: uppercase;
	}

	.custom-phone{
		font-size: 40px;
		width: 60px;

	}
	.custom-mail{
		font-size: 40px;
		width: 60px;
	}
	/*.custom-insta{
		font-size: 40px;
		width: 60px;
	}*/
	.web_scil4{
		color: yellow;
		font-size: calc(13px + 4 * ((100vw - 375px)/(1280-375)));

		text-transform: uppercase;
	}

	.custom-clock{
		font-size: 50px;
		width: 65px;
	}


	footer a{


		color: yellow;
		font-size: 22px;
	}
	footer a:visited{
		color: yellow;
	}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<meta name="desciption" content="Ветклиника">
	<meta name="autor" content="Ivan">
	<meta name="robots" content="all">
	<meta property="og.title" content="Ветклиника">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<title>Ветклиника</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.css">

	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="preloader">
		<div class="preloader__row">
			<div class="preloader__item"></div>
			<div class="preloader__item"></div>
		</div>
	</div>
	<script>
		window.onload = function () {
			document.body.classList.add('loaded_hiding');
			window.setTimeout(function () {
				document.body.classList.add('loaded');
				document.body.classList.remove('loaded_hiding');
			}, 900);
		}
	</script>
	<header>
		<nav>
			<div class="container">
				<div class="row">

					<div class="col-xxl-3 col-xl-3 col-lg-4 col-8">
						<div class="logo"><img src="img/Icone.png ">Зоодоктор</div></div>
						<div class="px-0 col-xxl-7 col-xl-8 col-lg-8  offset-xxl-2 offset-xl-1 offset-lg-0  d-none d-lg-block "><div class="menu">
							<ul>
								<li><a href="#main">Главная</a></li>
								<li><a href="#services">Услуги</a></li>
								<li><a href="#home">Дом</a></li>
								<li><a href="#contacts">Контакты</a></li>
								<li><a href="index_Yslygi.html">Цены</a></li>
							</ul> </div></div>
							<div class="col-4 d-flex d-lg-none flex-column justify-content-center align-items-end">
								<div class="dropdown">
									<a class="btn btn-warning dropdown-toggle white-btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
										Навигация
									</a>

									<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
										<li><a class="dropdown-item" href="#main">Главная</a></li>
										<li><a class="dropdown-item" href="#services">Услуги</a></li>
										<li><a class="dropdown-item" href="#home">Дом</a></li>
										<li><a class="dropdown-item" href="#contacts">Контакты</a></li>
										<li><a class="dropdown-item" href="index_Yslygi.html">Цены</a></li>
									</ul>

								</div>
							</div>
						</div>
					</div>


				</nav>
			</header>
			<main >
				<div class="modal fade" btn-color id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog  ">
										<div class="modal-content">   
											<div class="modal-body ">
												<h5 class="modal-title" id="exampleModalLabel">Вызов врача</h5>


												Вызов ветеринара на дом, скорая ветеринарная помощь в любой район Щёлково, Пушкино, Софрино


												<br>Почему мы?
												<br>•Большой опыт работы.
												<br>•Проверенные специалисты.
												<br>•Современное оборудование.
												<br>•Современные схемы лечени.
												<br>•Примем заявку в любое для вас удобное время.
												<br><a href="tel:8(916)914-41-77">8(916)914-41-77</a>

												<br>Выезд врача………………………………от 1000₽

												<button type="button" class="btn warning-btn " data-bs-dismiss="modal">Закрыть</button>
											</div>
										</div>

									</div>
								</div>

				<section class="main" id="main"><div class="container  pt-5">
					<div class="row align-items-center pt-5 mt-5 ">
						<div class="col-xxl-1 col-xl-2 col-lg-1 col-md-2 col-sm-2"></div>
						<div class="col-xxl-7 col-xl-9 col-lg-11 col-md-10 col-sm-8 pt-5 mt-5 ">
							<div class="title__container">
								<h1>Вас приветствует<br>Ветклиника Зоодоктор</h1>
								<h4>Наши принципы — это индивидуальный подход<br> к каждому клиенту, готовность оказать помощь животным в<br> любое время прилагать все возможные усилия<br> для достижения наилучших результатов.</h4>

							</div>
						</div>

					</div>
					<div class="Visov">
						<div class="row justify-content-center  pt-5  ">
							<div class="col-xxl-2 xl-3 col-lg-3 col-md-2 col-sm-1 col-1 "></div>
							<div class="col-xxl-4 xl-6 col-lg-5 col-md-5 col-sm-4 col-6 pt-5 mt-5 ">

								<button  type="button" class="btn info-btn  " data-bs-toggle="modal" data-bs-target="#exampleModal">
									Вызов врача на дом
								</button>

								<!-- Modal -->

								
							</div>

						</div>
					</div>
					<!--	 Button trigger modal -->



				</div>


			</section>

		</main>

		<div class="Two" id="services">
			<div class="container ">
				<div class="row  ">
					<div class="col-xxl-3 col-xl-5 col-8 col-sm-2 col-md-3 "></div>
					<div class="col-xxl-6 col-xl-7 col-12 col-sm-8 col-md-6 "><h3><b>НАШИ</b> УСЛУГИ</h3></div>
				</div>

				<div class="row  justify-content-center ">


					<div class="col-12 col-sm-6 col-md-3 text-center">
						<div class="web_scill" style="">
							<img src="img/1.png" alt="">
							<h4>Терапия</h4>
							<p><i>Лечение собак, кошек<br>и других животных<br> консервативными,<br> медикаментозными<br> или другими методами</i> </p>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-3 text-center">
						<div class="web_scill2" style="">
							<img src="img/2.png" alt="">
							<h4>Вакцинация</h4>
							<p><i>Профилактическое мероприятие,<br> направленное на<br> формирование у питомца <br>стойкого иммунитета</i></p>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-3 text-center">
						<div class="web_scill3" style="">
							<img src="img/3.png " alt="">
							<h4>Диагностика</h4>
							<p><i>Задачи диагностики животных<br> заключаются в систематическом<br>контроле за состоянием<br> здоровья животных и <br>выявлении больных</i></p>
						</div>
					</div>


				</div>
				<div class="row justify-content-center">	

					<div class="col-12 col-sm-6 col-md-3 text-center"> 
						<div class="web_scill4" style="">
							<img src="img/4.png " alt="">
							<h4>Стомоталогия</h4>
							<p>В настоящее время<br> многими владельцами<br> недооценена взаимосвязь здоровья<br> их животных и состояние<br> ротовой полости</p>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-3 text-center">
						<div class="web_scill5" style="">
							<img src="img/5.png " alt="">
							<h4>Стационар</h4>
							<p>Одной из последних новинок<br> в мире ветклиник не так<br> давно стали стационары,<br> в которые направляются <br>те животные, которым требуется<br> медицинское наблюдение</p>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-3 text-center">
						<div class="web_scill6" style="">
							<img src="img/6.png " alt="">
							<h4>Хирургия</h4>
							<p>Ветеринарная хирургия включает<br> в себя проведение диагностики,<br> хирургического лечения и <br>послеоперационного <br>ухода за животными</p>
						</div>
					</div>
				</div>

			</div>
		</div>

		
		<div class="Three" id="home">
			<div class="container">
				<div class="row">	
					<div class="col-xxl-3 col-xl-3 col-8 col-sm-2 col-md-3"></div>
					<div class="col-xxl-6 col-xl-7 col-12 col-sm-8 col-md-6"><h3><b>ИМ НУЖЕН ДОМ</h3>

					</div>	
				</div>

				<div class="row pt-5 mt-5 justify-content-center">
					
					<div class="col-xxl-8 col-xl-9 col-md-8">
						<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
							<div class="carousel-indicators">
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
								<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
								<button type="button" data-bs-target="#carouselExampleIndicators"data-bs-slide-to="4" aria-label="Slide 5"></button>

							</div>
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img src="img/cat1.jpg" class="d-block w-100 " alt="...">
								</div>
								<div class="carousel-item">
									<img src="img/cat2.jpg" class="d-block w-100 " alt="...">
								</div>
								<div class="carousel-item">
									<img src="img/cat3.jpg" class="d-block w-100 " alt="...">
								</div>
								<div class="carousel-item">
									<img src="img/cat4.jpg" class="d-block w-100 " alt="...">
								</div>
								<div class="carousel-item">
									<img src="img/cat5.jpg" class="d-block w-100 " alt="...">
								</div>
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Предыдущий</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Следующий</span>
							</button>
						</div>
					</div>
				</div>	
			</div>
		</div>
		

		<footer class="section" id="contacts">
			.
			<div class="container-fluid">
				<div class="row  ">
					<div class="col-xxl-3  col-md-3 col-sm-2 col-8 "></div>
					<div class="col-xxl-6 col-md-7 col-sm-8 col-12"><h3>НАШИ <b>КОНТАКТЫ</b></h3>
					</div>
				</div>
				<div class="Tri">	
					<div class="row  ">
						<div class="col-xxl-3">	</div>
						<div class="col-xxl-6  text-center ">
							<div class="web_scil" style="">
								<img src="" alt="">

								<h4><i class="fa fa-map-marker custom-map  " aria-hidden="true"></i><b>Яндекс карты</b><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8fb3ee09495128bcd995fe5ea9923f7f8fd145fe0b856d204850d67c31da7a16&amp;width=100%25&amp;height=421&amp;lang=ru_RU&amp;scroll=true"></script></h4></div>
							</div>
						</div>
						<div class="row">

							<div class="col-xxl-4 col-12 col-sm-6 col-md-5 pt-5 mt-5  text-center">
								<div class="web_scil2" style="">
									<img src="" alt="">
									<h4>Адрес</h4>

									<p><i class="fa fa-map custom-map2" aria-hidden="true"></i>Институтская ул.дом 14,<br> микрорайон Щёлково-3, Щёлково</p>
								</div>
							</div>
							<div class="col-xxl-4 col-12 col-sm-6 col-md-5 pt-5 mt-5  text-center">
								<div class="web_scil3" style="">
									<img src="" alt=""> 
									<h4><i class="fa fa-clock-o custom-clock" aria-hidden="true"></i><b>Часы работы</b></h4>
									<p><b>Пн-Вс с 10:00 до 18:00</b></p>

								</div>
							</div>				

							<div class="col-xxl-4 col-12 col-sm-6 col-md-5 pt-5 mt-5  text-center">
								<div class="web_scil4" style="">
									<img src="" alt="">
									<h4>Контакты</h4>
									<p><i class="fa fa-phone-square custom-phone" aria-hidden="true"></i>
										<a href="tel:+7-967-081-12-50">+7-967-081-12-50</a><br><i class="fa fa-envelope custom-mail" aria-hidden="true"></i><a href="https://zoodoctorvet@mail.ru" target="_blank">zoodoctorvet@mail.ru</a><!--<i class="fa fa-instagram custom-insta" aria-hidden="true"></i>Insta</p>-->
									</div>
								</div>



							</div>
						</div>
					</div>

				</footer>


				<script src="js/jquery-3.6.0.min.js"></script>
				<script src="js/bootstrap.bundle.min.js"></script>
				<script src="js/myScript.js"></script>
			</body>

			</html>