
body{
	font-family: Arial,sans-serif;
	-webkit-text-size-adjust: none;
}
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay:-1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 7s opacity;
  opacity: 1;
}

.loaded .preloader {
  display: none;
}

nav{
	width: 100%;
	height: 60px;
	background: #008B8B;
	position: fixed;
	z-index: 10;

}
nav img{
	width: 57px;
	margin: 0px 10px 10px 0px;
}
/*#008B8B-бирюзовый
#FFCF40-желтый*/
.logo{
	
	color: yellow;
	font-size: calc(25px + 15 * ((100vw - 320px)/(1280-320)));
	line-height: 60px;
	
}
main{
	width: 100%;
	height: 100%;
}
.menu{
	float: left;
	

}
.menu li{
	float: left;
	line-height: 60px;
	color: #FFCF40;
	margin-right: 70px;
	font-size: calc(12px + 2 * ((100vw - 320px)/(1280-320)));
	text-transform: uppercase;
	-webkit-animation: topshift 0.4s ease forwards;
	-o-animation: topshift 0.4s ease forwards;
	animation: topshift	0.4s ease forwards;
	opacity: 1;
}
.white-btn:visited{
	color: #008B8B;
}

.main{
	
	height: 1200px;
	background:url(../img/fon3.jpg) center/cover no-repeat ;
	perspective: 1;
	background-attachment: fixed;
}
.title__container{
	width: 100%;
	color: #008B8B;
	text-align: center;
	opacity: 0;
	-webkit-animation: titlemove 1.2s ease forwards;
	-o-animation: titlemove 1.2s ease forwards;
	animation: titlemove 1.2s ease forwards;
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;



}
.info-btn{
	background-color: #008B8B;
}
.btn{
	color: yellow;
}
.modal-body{
	color: yellow;
	background-color:#008B8B; 
}
.modal-body h5{
	text-align: center;
	line-height: 50px;
}
.btn-color{
	color: red;
}

.modal-title{
	color: yellow;
}

.modal-dialog{
	background-color: yellow;
}
.warning-btn {
	background-color: yellow;
	color: #008B8B;
	margin: 50px 0px 0px 200px;
}

.modal-body{
	background-color: #008B8B;
}

@keyframes titlemove{
	from{
		opacity: 0;
		margin-left: -700px;
	}
	to{
		opacity: 1;
		margin-left: 0px;
	}
}
main a{
	color: yellow;

}
.modal-body a{
	text-align: center;
}
.title__container h1{
	font-family: Arial, sans-serif;
	font-weight: 600;
	font-size: calc(28px + 20 * ((100vw - 375px)/(1280-375)));
}

.title__container h4{
	font-size: calc(19px + 15 * ((100vw - 375px)/(1280-375)));
	font-weight: 600;
	color: #008B8B;


}
@media  (max-width: 767px){

	h1{
		font-size: calc(25px + )
	}
}


.Visov a{
	padding-left: 100px;
}


.menu li a{
	transition: all 0.2s;
	color: white;
	transform: scale(1);
	display: inline-block;
	text-decoration: none;
}
.menu li a:visited{
	color: yellow;
}
.menu li a:hover{
	color: white;

}
.menu li a:active{
	transform: scale(1.2);
}
.Two{
	background:	url(../img/Fon5.jpg) center/cover no-repeat ;
	width: 100%
	max-height: 100%;
	transform: translateY(15px);
	
}

.Two img{
	max-width: 100%;
	max-height: 100%;
	
	
}


.Two h3{
	color: yellow;
	font-size: calc(30px + 15 * ((100vw - 375px)/(1280-375)));
	line-height: 100px;
	text-align: center;
	

	
}

.Two h4{
	color: yellow;
	font-size: calc(20px + 4 * ((100vw - 375px)/(1280-375)));
	transform: scale(1);
	text-decoration: none;
	
	


}

.Two h4:hover{
	color: #fff;
	

}

.Two p{
	font-size: calc(10px + 2 * ((100vw - 375px)/(1280-375)));
	color: yellow	;	
	line-height: 30px;
	text-align: center;
	

}
.Two p:hover{
	color: #fff;
	transform: scale(1.3,1.3);
}

	
  .web_scill{
  	line-height: 220px;
  	font-size: 12px;
  	text-transform: uppercase;

  }
  .web_scill2{
  	line-height: 220px;

  	font-size: 12px;
  	text-transform: uppercase;
  }
  .web_scill3{

  	line-height: 220px;
  	font-size: 12px;
  	text-transform: uppercase;
  }
 

  .web_scill4 {

  	line-height: 270px;
  	font-size: 12px;
  	text-transform: uppercase;

  }

  .web_scill5{

  	line-height: 270px;
  	font-size: 12px;
  	text-transform: uppercase;
  }
  .web_scill6{

  	line-height: 270px;
  	font-size: 12px;
  	text-transform: uppercase;
  }


	.Three{
		background: url(../img/Fon4.jpg) center/cover no-repeat ;
		height: 800px;
		background-attachment: fixed;


	}
	.Three h3{
		color: #20B2AA;
		font-size: calc(30px + 15 * ((100vw - 375px)/(1280-375)));
		line-height: 100px;
		text-align: center;	



	}
	footer{
		background:url(../img/Fon7.jpg) center/cover no-repeat;
		height: 1300px;



	}

	footer h3{
		color: yellow;
		font-size: calc(30px + 15 * ((100vw - 375px)/(1280-375)));
		line-height: 55px;
		text-align: center;
	}
	footer h4{
		color: yellow;
		font-size: calc(16px + 4 * ((100vw - 375px)/(1280-375)));

	}

	.web_scil{
		font-size: 32px;
		text-transform: uppercase;

	
	}
	.custom-map{
		font-size: 35px;
		width: 40px;
		color: yellow;
		
	}
	.web_scil2{

		color: yellow;
		font-size: calc(13px + 4 * ((100vw - 375px)/(1280-375)));
		text-transform: uppercase;
	}
	.custom-map2{
		font-size: 30px;
		width: 65px;
	}

	.web_scil3{
		color: yellow;
		font-size: calc(13px + 4 * ((100vw - 375px)/(1280-375)));
		text-transform: uppercase;
	}

	.custom-phone{
		font-size: 40px;
		width: 60px;

	}
	.custom-mail{
		font-size: 40px;
		width: 60px;
	}
	/*.custom-insta{
		font-size: 40px;
		width: 60px;
	}*/
	.web_scil4{
		color: yellow;
		font-size: calc(13px + 4 * ((100vw - 375px)/(1280-375)));

		text-transform: uppercase;
	}

	.custom-clock{
		font-size: 50px;
		width: 65px;
	}


	footer a{


		color: yellow;
		font-size: 22px;
	}
	footer a:visited{
		color: yellow;
	}
